In [1]:
import numpy as np
import matplotlib.pyplot as plt
from astropy.io import fits
from astropy import constants, units
from astropy.coordinates import Angle
from scipy.optimize import curve_fit
import pandas as pd
import os

In [2]:
rootdir = '/Users/thepoetoftwilight/Documents/CUBS/Data/PG1522+101/'

Load in the photometry catalogs - first MUSE

In [3]:
MUSE_df = pd.read_csv(rootdir+'MUSE/pseudo_gri_photometry_final.dat')

In [4]:
MUSE_df

,ID,RA,Dec,pseudo_g_mag,pseudo_r_mag,pseudo_i_mag,z
0,1,231.107296,9.967454,23.22,21.99,21.41,0.5356
1,2,231.105051,9.967208,23.43,22.76,22.62,0.4581
2,3,231.096042,9.966748,25.12,24.19,23.21,0.9576
3,5,231.103970,9.966703,25.63,24.67,24.01,0.8217
4,18,231.103628,9.981773,19.83,19.34,19.14,0.0000
...,...,...,...,...,...,...,...
75,109,231.109148,9.967285,27.75,27.10,26.66,-1.0000
76,114,231.106211,9.982972,24.74,23.53,22.84,0.0000
77,115,231.107990,9.982978,25.49,25.19,24.46,-1.0000
78,122,231.101477,9.982300,25.21,24.75,24.70,0.0966
79,123,231.097590,9.982204,26.15,25.71,25.25,-1.0000

Next, HST 160W

In [5]:
F160W_df = pd.read_csv(rootdir+'HST_images/f160w_photometry_final.dat')

In [6]:
F160W_df

        ID          RA       Dec  f160w_mag
0        1  231.089133  9.957498    20.8196
1        2  231.089913  9.957042    21.3203
2        3  231.090192  9.954150    23.0746
3        4  231.091091  9.953060    24.3964
4        5  231.088816  9.954917    18.7594
...    ...         ...       ...        ...
1077  1078  231.097318  9.988996    25.0309
1078  1079  231.102873  9.990525    24.7557
1079  1080  231.109801  9.992246    22.6273
1080  1081  231.100206  9.989140    21.4978
1081  1082  231.115941  9.960333    24.7600

[1082 rows x 4 columns]

Next, HST 140W

In [7]:
F140W_df = pd.read_csv(rootdir+'HST_images/f140w_photometry_final.dat')

In [8]:
F140W_df

        ID          RA       Dec  f140w_mag
0        1  231.087168  9.960573    21.0268
1        2  231.087489  9.959768    19.7528
2        3  231.117414  9.965209    21.1236
3        4  231.118874  9.964124    19.4755
4        5  231.091003  9.953546    24.3223
...    ...         ...       ...        ...
1109  1110  231.092065  9.987828    24.0699
1110  1111  231.115924  9.960328    25.1467
1111  1112  231.099188  9.989843    23.6488
1112  1113  231.087197  9.986323    25.2002
1113  1114  231.102027  9.990607    24.4685

[1114 rows x 4 columns]

Finally, HST 814W

In [9]:
F814W_df = pd.read_csv(rootdir+'HST_images/f814w_photometry_final.dat')

In [10]:
F814W_df

        ID          RA        Dec  f814w_mag
0        1  231.104656  10.013488    18.8274
1        2  231.083557  10.009224    16.7868
2        3  231.094765  10.015267    22.2989
3        4  231.096897  10.017867    18.9525
4        5  231.099644  10.019074    21.7802
...    ...         ...        ...        ...
8043  8044  231.121184   9.969152    26.4690
8044  8045  231.124483   9.971390    27.2372
8045  8046  231.083227   9.957736    29.4768
8046  8047  231.117795   9.968171    29.2721
8047  8048  231.089812   9.969690    29.2310

[8048 rows x 4 columns]

We'll compute the angular separation between all possible pairs of objects using the formula. Below, we present the formalism -

Point 1: ($\alpha_1, \delta_1$), Point 2: ($\alpha_2, \delta_2$)

Angular separation $\phi$ between unit vectors -

$$\cos(\phi) = \hat{r_1} \cdot \hat{r_2}$$

$$\Rightarrow \cos(\phi) = \cos(\delta_1) \cos(\delta_2) \cos(\alpha_1) \cos(\alpha_2) + \cos(\delta_1) \cos(\delta_2) \sin(\alpha_1) \sin(\alpha_2) + \sin(\delta_1) \sin(\delta_2)$$

$$\boxed{\phi = \arccos[ \cos(\delta_1) \cos(\delta_2) \cos(\alpha_1) \cos(\alpha_2) + \cos(\delta_1) \cos(\delta_2) \sin(\alpha_1) \sin(\alpha_2) + \sin(\delta_1) \sin(\delta_2)]}$$

In [11]:
def calc_phi(alpha_1, delta_1, alpha_2, delta_2):
    
    return np.arccos(np.dot([np.cos(delta_1)*np.cos(alpha_1), np.cos(delta_1)*np.sin(alpha_1), np.sin(delta_1)],
                      [np.cos(delta_2)*np.cos(alpha_2), np.cos(delta_2)*np.sin(alpha_2), np.sin(delta_2)]))

We'll define a function to create a grid of angular separations

In [12]:
def calc_phi_grid(df_1, df_2):
    
    # Get RAs and Decs from each dataframe
    df_1_RA = np.array(df_1['RA']*np.pi/180)
    df_1_Dec = np.array(df_1['Dec']*np.pi/180)
    
    df_2_RA = np.array(df_2['RA']*np.pi/180)
    df_2_Dec = np.array(df_2['Dec']*np.pi/180)
    
    # Define a grid of phi values
    phi_grid = np.zeros((len(df_1), len(df_2)))
    
    for i in range(len(df_1_RA)):
        
        phi_grid[i,:] = (calc_phi(df_1_RA[i], df_1_Dec[i], 
                                  df_2_RA, df_2_Dec)*units.radian).to(units.arcsecond).value
  
    return phi_grid

In [13]:
def calc_match_indices(phi_grid, phi_thresh=1):
    
    # Record the indices of closely separated objects, and also their separation
    match_idx_1 = []
    match_idx_2 = []
    match_phi = []
    
    for i in range(phi_grid.shape[0]):
        
        phi_slice = phi_grid[i,:]
        
        if np.min(phi_slice)<=phi_thresh:
            match_idx_1.append(i)
            match_idx_2.append(np.argmin(phi_slice))
            match_phi.append(np.min(phi_slice))
                
    return np.array(match_idx_1), np.array(match_idx_2), np.array(match_phi)

First, match F140W to F160W

In [14]:
phi_grid_HST = calc_phi_grid(F140W_df, F160W_df)

In [16]:
# Get the matching indices for the two HST catalogs
F140W_df_idx, F160W_df_idx, phi_match_HST = calc_match_indices(phi_grid_HST, phi_thresh=0.5)

In [17]:
len(F140W_df), len(F140W_df_idx)

(1114, 686)

In [18]:
# Now create a copy of the F140W catalog
master_df = F140W_df.copy()

In [19]:
master_df['f160w_mag'] = ['-1.0' for i in range(len(master_df))]
master_df['phi_HST'] = ['-1.0' for i in range(len(master_df))]

In [20]:
master_df.loc[F140W_df_idx, 'f160w_mag'] = np.array(F160W_df.loc[F160W_df_idx,'f160w_mag'])
master_df.loc[F140W_df_idx, 'phi_HST'] = phi_match_HST

In [21]:
master_df.loc[F140W_df_idx]

        ID          RA       Dec  f140w_mag f160w_mag   phi_HST
5        6  231.091079  9.953079    22.6563   24.3964  0.078059
6        7  231.090428  9.954337    22.1832   22.6973   0.14734
7        8  231.090160  9.954180    21.8505   23.0746    0.1563
15      16  231.122167  9.964291    21.4009   21.5557  0.254254
16      17  231.092634  9.955672    23.5231   24.1691  0.358544
...    ...         ...       ...        ...       ...       ...
1106  1107  231.100587  9.990550    24.7652   24.5303  0.090345
1108  1109  231.085937  9.986156    25.1856    25.032  0.142118
1109  1110  231.092065  9.987828    24.0699    23.529  0.103229
1110  1111  231.115924  9.960328    25.1467     24.76  0.061778
1111  1112  231.099188  9.989843    23.6488   23.8963  0.151979

[686 rows x 6 columns]

Now, merge in the MUSE catalog

In [22]:
phi_grid_MUSE = calc_phi_grid(master_df, MUSE_df)

In [24]:
master_df_idx, MUSE_df_idx, phi_match_MUSE = calc_match_indices(phi_grid_MUSE, phi_thresh=0.5)

In [25]:
master_df_new = master_df.copy()

In [26]:
master_df_new['pseudo_g_mag'] = ['-1.0' for i in range(len(master_df_new))]
master_df_new['pseudo_r_mag'] = ['-1.0' for i in range(len(master_df_new))]
master_df_new['pseudo_i_mag'] = ['-1.0' for i in range(len(master_df_new))]
master_df_new['phi_MUSE'] = ['-1.0' for i in range(len(master_df_new))]
master_df_new['z'] = ['-1.0' for i in range(len(master_df_new))]

In [27]:
master_df_new.loc[master_df_idx, 'pseudo_g_mag'] = np.array(MUSE_df.loc[MUSE_df_idx, 'pseudo_g_mag'])
master_df_new.loc[master_df_idx, 'pseudo_r_mag'] = np.array(MUSE_df.loc[MUSE_df_idx, 'pseudo_r_mag'])
master_df_new.loc[master_df_idx, 'pseudo_i_mag'] = np.array(MUSE_df.loc[MUSE_df_idx, 'pseudo_i_mag'])
master_df_new.loc[master_df_idx, 'phi_MUSE'] = phi_match_MUSE
master_df_new.loc[master_df_idx, 'z'] = np.array(MUSE_df.loc[MUSE_df_idx, 'z'])

In [28]:
len(master_df_idx)

79

In [29]:
master_df_new.loc[master_df_idx]

,ID,RA,Dec,f140w_mag,f160w_mag,phi_HST,pseudo_g_mag,pseudo_r_mag,pseudo_i_mag,phi_MUSE,z
210,211,231.098361,9.983320,21.8731,21.9712,0.06491,24.48,23.64,23.08,0.126764,0.4784
213,214,231.097267,9.983063,22.6584,22.6496,0.068796,24.54,24.2,23.8,0.222235,0.1393
224,225,231.094172,9.981628,22.7707,22.7826,0.019439,25.75,25.44,25.28,0.229059,-1.0
228,229,231.097545,9.982214,22.4061,22.5311,0.064178,26.15,25.71,25.25,0.163392,-1.0
229,230,231.096948,9.982161,22.0734,21.9004,0.038878,27.11,26.62,25.78,0.261381,-1.0
...,...,...,...,...,...,...,...,...,...,...,...
760,761,231.106567,9.970069,21.0568,20.9698,0.0396,28.88,27.78,26.77,0.474389,-1.0
780,781,231.105057,9.967277,21.4026,21.5002,0.05634,23.43,22.76,22.62,0.249699,0.4581
784,785,231.103968,9.966806,22.0276,22.0286,0.065778,25.63,24.67,24.01,0.3703,0.8217
786,787,231.107305,9.967510,19.9349,19.7874,0.058881,23.22,21.99,21.41,0.202787,0.5356
807,808,231.109207,9.967298,23.1434,23.195,0.071688,27.75,27.1,26.66,0.214425,-1.0

In [30]:
#master_df_new = master_df_new.loc[master_df_idx]
#master_df_new['ID'] = np.arange(1, len(master_df_new)+1)
#master_df_new.reset_index(drop=True, inplace=True)

Finally, match to F814W

In [31]:
phi_grid_814W = calc_phi_grid(master_df_new, F814W_df)

In [32]:
# Get the matching indices for the two HST catalogs
master_df_new_idx, F814W_df_idx, phi_match_814W = calc_match_indices(phi_grid_814W, phi_thresh=0.5)

In [33]:
len(master_df_new), len(master_df_new_idx)

(1114, 645)

In [34]:
# Now create a copy of the F140W catalog
master_df_final = master_df_new.copy()

In [35]:
master_df_final['f814w_mag'] = ['-1.0' for i in range(len(master_df_final))]

In [36]:
master_df_final.loc[master_df_new_idx, 'f814w_mag'] = np.array(F814W_df.loc[F814W_df_idx,'f814w_mag'])

Here is the final catalog

In [37]:
master_df_final.loc[master_df_new_idx]

,ID,RA,Dec,f140w_mag,f160w_mag,phi_HST,pseudo_g_mag,pseudo_r_mag,pseudo_i_mag,phi_MUSE,z,f814w_mag
2,3,231.117414,9.965209,21.1236,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,27.4169
46,47,231.101884,9.990558,25.2073,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,29.0991
47,48,231.083298,9.975254,22.7513,24.1446,0.033529,-1.0,-1.0,-1.0,-1.0,-1.0,28.4208
48,49,231.080843,9.978273,24.3475,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,26.1287
51,52,231.082538,9.974871,22.6119,23.2128,0.02195,-1.0,-1.0,-1.0,-1.0,-1.0,26.7901
...,...,...,...,...,...,...,...,...,...,...,...,...
1106,1107,231.100587,9.990550,24.7652,24.5303,0.090345,-1.0,-1.0,-1.0,-1.0,-1.0,28.502
1108,1109,231.085937,9.986156,25.1856,25.032,0.142118,-1.0,-1.0,-1.0,-1.0,-1.0,28.3491
1109,1110,231.092065,9.987828,24.0699,23.529,0.103229,-1.0,-1.0,-1.0,-1.0,-1.0,27.5635
1111,1112,231.099188,9.989843,23.6488,23.8963,0.151979,-1.0,-1.0,-1.0,-1.0,-1.0,26.8201
1113,1114,231.102027,9.990607,24.4685,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,29.0991

Compile the final catalog

In [38]:
gal_ra_arr = np.array(master_df_final['RA'])
gal_dec_arr = np.array(master_df_final['Dec'])
gal_f160w_mag_arr = np.array(master_df_final['f160w_mag'])
gal_f140w_mag_arr = np.array(master_df_final['f140w_mag'])
gal_f814w_mag_arr = np.array(master_df_final['f814w_mag'])
gal_pseudo_g_mag_arr = np.array(master_df_final['pseudo_g_mag'])
gal_pseudo_r_mag_arr = np.array(master_df_final['pseudo_r_mag'])
gal_pseudo_i_mag_arr = np.array(master_df_final['pseudo_i_mag'])
gal_z_arr = np.array(master_df_final['z'])

In [39]:
with open(rootdir+'ldss_photometry_final.dat', 'w') as f:

    f.write('RA,Dec,f160w_mag,f140w_mag,f814w_mag,pseudo_g_mag,pseudo_r_mag,pseudo_i_mag,z')

    for i in range(len(gal_ra_arr)):

        f.write('\n'+str(gal_ra_arr[i])+','+
             str(gal_dec_arr[i])+','+
             str(gal_f160w_mag_arr[i])+','+
             str(gal_f140w_mag_arr[i])+','+
             str(gal_f814w_mag_arr[i])+','+
             str(gal_pseudo_g_mag_arr[i])+','+
             str(gal_pseudo_r_mag_arr[i])+','+
             str(gal_pseudo_i_mag_arr[i])+','+
             str(gal_z_arr[i]))

Also write the subset of MUSE objects into a separate catalog

In [40]:
master_df_overlap = master_df_final.loc[master_df_new_idx]

In [41]:
len(master_df_overlap)

645

In [42]:
gal_ra_overlap_arr = np.array(master_df_overlap['RA'])
gal_dec_overlap_arr = np.array(master_df_overlap['Dec'])
gal_f160w_mag_overlap_arr = np.array(master_df_overlap['f160w_mag'])
gal_f140w_mag_overlap_arr = np.array(master_df_overlap['f140w_mag'])
gal_f814w_mag_overlap_arr = np.array(master_df_overlap['f814w_mag'])
gal_pseudo_g_mag_overlap_arr = np.array(master_df_overlap['pseudo_g_mag'])
gal_pseudo_r_mag_overlap_arr = np.array(master_df_overlap['pseudo_r_mag'])
gal_pseudo_i_mag_overlap_arr = np.array(master_df_overlap['pseudo_i_mag'])
gal_z_overlap_arr = np.array(master_df_overlap['z'])

In [43]:
with open(rootdir+'ldss_photometry_final_subset.dat', 'w') as f:

    f.write('RA,Dec,f160w_mag,f140w_mag,f814w_mag,pseudo_g_mag,pseudo_r_mag,pseudo_i_mag,z')

    for i in range(len(gal_ra_overlap_arr)):

        f.write('\n'+str(gal_ra_overlap_arr[i])+','+
             str(gal_dec_overlap_arr[i])+','+
             str(gal_f160w_mag_overlap_arr[i])+','+
             str(gal_f140w_mag_overlap_arr[i])+','+
             str(gal_f814w_mag_overlap_arr[i])+','+
             str(gal_pseudo_g_mag_overlap_arr[i])+','+
             str(gal_pseudo_r_mag_overlap_arr[i])+','+
             str(gal_pseudo_i_mag_overlap_arr[i])+','+
             str(gal_z_overlap_arr[i]))